.container{
    width: 100%;
    height: 100vh;
    background-color: #DDEEF5;
    padding: 2rem;
    overflow: hidden;
    .form__wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        margin-top: 2.5rem;
        .form-inline{
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        .form-control{
            width: 18rem;
            border: 1px solid #FFF;
            border-radius: 20px;
            padding: 0.75rem;
            background-color: rgba(94, 163, 194, 0.1);
            &:hover,&:focus-visible{
                border: inherit;
                outline: none;
            }
        }
        .btn-search{
            width: 5rem;
            position: relative;
            right: 80px;
            border-radius:0 20px 20px 0;
            background-color:#FFF;
            cursor: pointer;
            border: 1px solid #FFF;
            font-size: 12px;
        }
        .error__message{
            padding-right: 5rem;
            padding-top: 0.5rem;
            small{
                color: #E17B9C;
            }
        }
    }
    
}

.table-responsive{
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 3rem;
    .table-borderless{
        width: 60%;
    }
}
.table-borderless{
    border-collapse: collapse;
    .table__inner{
        display: flex;
        align-items: center;
    }
}

.border-td > .table-borderless> tbody> tr> td{
    border-bottom: 3px solid rgba(192,204,218,.3);
    background-color: #fff;
    padding: 0.75rem;
    text-align: left;
    &:hover{
        background-color: rgba(152, 175, 186, 0.1);
    }
}
.border-td > .table-borderless > thead > tr > th{
    border-bottom: 3px solid rgba(192,204,218,.3);
    background-color: #fff;
    font-weight: 600;
    padding: 1rem 0.5rem;
    text-align: left;
}

.header__wrapper{
    display: flex;
    align-items: center;
    .header-text{
        color: #000F26;
        padding-right: 0.25rem;
    }
    img{
        width: 70px;
    }
}